# EditorConfig is awesome: http://EditorConfig.org
# top-most EditorConfig file
root = true

# Unix-style newlines at the bottom of every file
[*]
charset = utf-8

# Tab indentation
indent_style = space
indent_size = 4

[*.{md,sh,yaml,yml}]
indent_size = 2
