.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
OTVision/user.conf
OTVision/track/__pycache__
OTVision/transform_to_world/__pycache__
OTVision/gui/__pycache__
OTVision/helpers/__pycache__
*/__pycache__
geckodriver.log
*.pyc
.vscode/launch.json
yolov5*.pt
obj_train_data/*
OTVision/detect/vissim_video.mp4
OTVision/tests/data/