.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
OTVision/user.conf
OTVision/track/__pycache__
OTVision/transform_to_world/__pycache__
OTVision/gui/__pycache__
OTVision/helpers/__pycache__
OTVision/__pycache__
geckodriver.log
OTVision/__pycache__/__init__.cpython-37.pyc
OTVision/__pycache__/__main__.cpython-37.pyc
OTVision/gui/sketches_MB.pptx
OTVision/gui/__pycache__/__init__.cpython-37.pyc
OTVision/gui/__pycache__/browse_folders_and_files.cpython-37.pyc
OTVision/gui/__pycache__/sg_otc_theme.cpython-37.pyc
OTVision/gui/__pycache__/t2w.cpython-37.pyc
OTVision/gui/__pycache__/t2wgui.cpython-37.pyc
OTVision/gui/__pycache__/transform_to_world.cpython-37.pyc
OTVision/transform_to_world/__pycache__/__init__.cpython-37.pyc
OTVision/transform_to_world/__pycache__/__main__.cpython-37.pyc
OTVision/transform_to_world/__pycache__/t2w.cpython-37.pyc
OTVision/transform_to_world/__pycache__/t2wgui.cpython-37.pyc
OTVision/gui/__pycache__/track.cpython-37.pyc
OTVision/track/__pycache__/__init__.cpython-37.pyc
OTVision/track/__pycache__/iou_tracker.cpython-37.pyc
OTVision/track/__pycache__/util.cpython-37.pyc
OTVision/helpers/__pycache__/__init__.cpython-37.pyc
OTVision/helpers/__pycache__/files.cpython-37.pyc
OTVision/track/__pycache__/iou_tracker_qp.cpython-37.pyc
OTVision/track/__pycache__/track.cpython-37.pyc
OTVision/__pycache__/config.cpython-37.pyc
OTVision/gui/__pycache__/update_window.cpython-37.pyc
OTVision/gui/__pycache__/video_player_image.cpython-37.pyc
OTVision/gui/__pycache__/video_player.cpython-37.pyc
OTVision/helpers/__pycache__/config.cpython-37.pyc
.gitignore
.vscode/launch.json
.vscode/settings.json
.vscode/settings.json
