# pip install -r requirements.txt

# data ---------------------------------------
numpy==1.19.5
pandas==1.2.2

# image/video ---------------------------------
opencv-python==4.5.3.56
Pillow==8.3.1

# yolo ---------------------------------------
requests==2.25.1  # File "C:\Users\Baerwolff/.cache\torch\hub\ultralytics_yolov5_master\models\common.py", line 7, in <module>
matplotlib==3.4.2  # File "C:\Users\Baerwolff/.cache\torch\hub\ultralytics_yolov5_master\utils\metrics.py", line 5, in <module>
seaborn==0.11.1  # File "C:\Users\Baerwolff/.cache\torch\hub\ultralytics_yolov5_master\utils\plots.py", line 15, in <module>
pyYAML==5.4.1
tqdm==4.56.0
progressbar2==3.53.1
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
torchvision==0.8.2+cu110

# tracks ---------------------------------------
https://github.com/OpenTrafficCam/downloads/blob/master/GDAL-3.2.3-cp38-cp38-win_amd64.whl?raw=true
https://github.com/OpenTrafficCam/downloads/blob/master/Fiona-1.8.19-cp38-cp38-win_amd64.whl?raw=true
geopandas==0.9.0
