# pip install -r requirements.txt

# data ---------------------------------------
numpy
pandas

# gui ----------------------------------------
PySimpleGUI
# opencv-python>=4.1.2
Pillow

# helpers --------------------------------------
pause

# yolo ---------------------------------------
requests
matplotlib
seaborn
opencv-python
pillow
pyYAML
tqdm
progressbar2
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
torchvision==0.8.2+cu110
geopandas
