geopandas
matplotlib==3.4.2
numpy==1.21.0
opencv-python>=4.5.3.56
pandas==1.3.0
Pillow==8.4.0
progressbar33
shapely
--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
ujson==5.7.0

# YOLOv5
requests
PyYAML
tqdm
seaborn>=0.11.2
psutil
IPython
