name: Issue to Project

on:
  issues:
    types: [labeled]

jobs:
  ToDo-List:
    runs-on: ubuntu-latest
    steps:
      - name: Move bugs and features to ToDo-List
        uses: alex-page/github-project-automation-plus@v0.8.1
        if: |
          contains(github.event.issue.labels.*.name, 'bug') ||
          contains(github.event.issue.labels.*.name, 'feature')
        with:
          project: ToDo OpenTrafficCam
          column: To do
          repo-token: ${{ secrets.GHPROJECT_TOKEN }}

      - name: Move questions to Weekly-Discussion
        uses: alex-page/github-project-automation-plus@v0.8.1
        if: |
          contains(github.event.issue.labels.*.name, 'question')
        with:
          project: OTC Core Developer Weekly Meeting
          column: questions
          repo-token: ${{ secrets.GHPROJECT_TOKEN }}
          
      - name: Move public bugs to Weekly-Discussion
        uses: alex-page/github-project-automation-plus@v0.8.1
        if: |
          contains(github.event.issue.labels.*.name, 'bug')
        with:
          project: OTC Core Developer Weekly Meeting
          column: public bugs
          repo-token: ${{ secrets.GHPROJECT_TOKEN }}
