---
name: super-linter
#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

on: pull_request

jobs:
  build:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Lint Code Base
        uses: docker://github/super-linter:v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_PYTHON_MYPY: false
          VALIDATE_JSCPD: false
          VALIDATE_PYTHON_BLACK: false

          LINTER_RULES_PATH: /
          PYTHON_FLAKE8_CONFIG_FILE: setup.cfg
          PYTHON_ISORT_CONFIG_FILE: setup.cfg
