---
# This workflow will install Python dependencies, run tests

name: Run tests

on: pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9"]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Ubuntu dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_linux.txt
      - name: Install Windows dependencies for python 3.9
        if: matrix.os == 'windows-latest' && matrix.python-version == '3.9'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_win-py39.txt
      - name: Install test dependencies
        run: |
          pip install pytest-cov
          pip install pytest
          python -c 'from OTVision.helpers.machine \
          import print_has_cuda; print_has_cuda()'
      - name: Test with pytest
        run: pytest --cov=OTVision tests/
