---
name: Test

on:
  # Run tests each time a PR is opened or changed.
  # Allow other Workflows (e.g., build workflows) to call this workflow.
  pull_request:
  workflow_call:

permissions: read-all

jobs:
  test:
    name: Run Python tests on multiple OS and Python versions
    strategy:
      fail-fast: True
      matrix:
        os: [ubuntu-latest, windows-latest]
        py: ["3.12"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Python Tests
        uses: platomo/test-python-app-action@v3
        timeout-minutes: 60
        with:
          py-version: ${{ matrix.py }}
          package-path: OTVision
          ffmpeg-required: True
          uv-sync-args: "--extra inference_cpu"
